In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1+1

2

In [4]:
1*3

3

In [5]:
1/2

0.5

In [6]:
2**4

16

In [7]:
2+3*5*5

77

In [8]:
2+3*5+5

22

In [9]:
4%2

0

In [10]:
5 % 2

1

In [11]:
8 % 2

0

In [12]:
var = 2

In [13]:
var

2

In [14]:
x = 2
y= 3

In [15]:
x+ y

5

In [16]:
x= x+x

In [17]:
x

4

In [18]:
x=x+x

In [19]:
x

8

In [21]:
var=12

In [23]:
#stings

In [24]:
'this is a string'

'this is a string'

In [25]:
"this is a string"

'this is a string'

In [26]:
"i can't go"

"i can't go"

In [27]:
x = 'hello'

In [28]:
x

'hello'

In [29]:
print(x)

hello

In [30]:
num= 12
name='sam'

In [72]:
'my number is {one} and my name is {two}'.format(one=num,two=name)

'my number is 12 and my name is sam'

In [33]:
print('my number is {one} and my name is {two}'.format(one=num,two=name))

my number is 12 and my name is sam

In [34]:
s = 'hello'

In [35]:
s[0]

'h'

In [36]:
s[4]

'o'

In [37]:
 s = 'abcdefghijk'

In [38]:
s[0]

'a'

In [39]:
s[0:]

'abcdefghijk'

In [40]:
s[:3]

'abc'

In [43]:
s[3:6]

'def'

In [44]:
[1,2,3]

[1, 2, 3]

In [45]:
['a','b','c']

['a', 'b', 'c']

In [46]:
my_list= ['a','b','c']

In [47]:
my_list

['a', 'b', 'c']

In [48]:
my_list.append('d')

In [49]:
my_list

['a', 'b', 'c', 'd']

In [50]:
my_list[0]

'a'

In [51]:
my_list [1:3]

['b', 'c']

In [52]:
my_list[0]= 'new'

In [53]:
my_list

['new', 'b', 'c', 'd']

In [54]:
nest = [1,2,[3,4]]

In [55]:
nest

[1, 2, [3, 4]]

In [56]:
 nest[2]

[3, 4]

In [57]:
 nest[2][0]

3

In [58]:
 nest[2][1]

4

In [67]:
nest= [1,3,4,5,[6,7],8,['target']]

In [68]:
nest[4][1]

7

In [69]:
nest[6][0]

'target'

In [70]:
print(nest[6][0])

target

In [73]:
d= {'key1':'value','key2':123}

In [74]:
d

{'key1': 'value', 'key2': 123}

In [75]:
d['key1']

'value'

In [76]:
d['key2']

123

In [77]:
d = {'k1':[1,2,3]}

In [78]:
d['k1']

[1, 2, 3]

In [79]:
d['k1'][2]

3

In [80]:
my_list = d['k1']

In [82]:
my_list[0]

1

In [83]:
d = {'k1':{'innerkey':[1,2,3]}}

In [86]:
d['k1']['innerkey'][1]

2

In [87]:
True

True

In [89]:
False

False

###

In [90]:
t = (1,2,3)

In [91]:
t[0]

1

In [92]:
my_list= [1,2,3]

In [93]:
my_list[0]='new'

In [94]:
my_list

['new', 2, 3]

In [95]:
t [0] = 'New'

TypeError: 'tuple' object does not support item assignment

In [96]:
{1,2,3}

{1, 2, 3}

In [97]:
 {1,1,1,1,1,2,2,2,3,3,3,4,4,4,5,5,5}

{1, 2, 3, 4, 5}

In [98]:
set([1,1,1,1,2,2,2,2,2,2,3,3,3,4,4,5,5,5])

{1, 2, 3, 4, 5}

In [99]:
s= {1,2,3,4}

In [100]:
s.add(5)

In [101]:
s

{1, 2, 3, 4, 5}

In [102]:
1>2

False

In [103]:
1<2

True

In [104]:
1==1

True

In [105]:
1!=3

True

In [107]:
1==3

False

In [108]:
'hu' == 'hi'

False

In [109]:
1<2 and 1>4

False

In [110]:
True and True

True

In [111]:
False or True

True

In [112]:
if 1<2:
    print('yep!')

yep!

In [114]:
if 1 == 2:
    print('First')
else:
    print('Last')

Last

In [116]:
if 1 == 2:
    print('First')
elif 4==4:
    print('middle')
else:
    print('Last')

middle

In [119]:
seq = [1,2,3,4,5]

In [120]:
for item in seq:
    print(item)

1
2
3
4
5

In [123]:
for item in seq:
    print('hello')

hello
hello
hello
hello
hello

In [121]:
i = 1

while i < 5:
    print('i is {}'.format(i))
    i=i+1

i is 1
i is 2
i is 3
i is 4

In [124]:
range(0,5)

range(0, 5)

In [125]:
for x in range(0,3):
    print(x)

0
1
2

In [126]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [127]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [128]:
x = [1,2,3,4,5]

In [129]:
out = []

for num in x:
    out.append(num**2)

In [130]:
print(out)

[1, 4, 9, 16, 25]

In [131]:
[num**2 for num in x]

[1, 4, 9, 16, 25]

In [132]:
def my_func(param1):
    print(param1)

In [134]:
my_func('hello')

hello

In [141]:
def my_func1(name = 'Default Name'):
    print('Hello ' +name)

In [142]:
my_func1()

Hello Default Name

In [145]:
my_func1('Ade')

Hello Ade

In [146]:
my_func

In [152]:
def square(num):
    """
    THIS IS A DOCSTRING.
    CAN GO MULTIPLE LINES.
    THIS FUNCTION SQUARES A NUMBER.
    """
    return num**2

In [153]:
output = square(26)

In [154]:
output

676

In [155]:
def times2(var):
    return var*2

In [156]:
times2(5)

10

In [157]:
#map()

In [158]:
seq = [1,2,3,4,5]

In [160]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [163]:
t= lambda var : var*3

In [164]:
t(3)

9

In [165]:
list(map(lambda num: num*3,seq))

[3, 6, 9, 12, 15]

In [166]:
filter(lambda num: num%2==0, seq)

In [167]:
list(filter(lambda num: num%2==0, seq))

[2, 4]

In [168]:
s = 'Hello my name is Sam'

In [169]:
s.lower()

'hello my name is sam'

In [170]:
s.upper()

'HELLO MY NAME IS SAM'

In [171]:
s.split()

['Hello', 'my', 'name', 'is', 'Sam']

In [172]:
tweet= 'Go Sports! #Sports'

In [173]:
tweet.split()

['Go', 'Sports!', '#Sports']

In [174]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [175]:
tweet.split('#')[1]

'Sports'

In [177]:
d= {'k1':1, 'k2':2}

In [178]:
d

{'k1': 1, 'k2': 2}

In [179]:
d.keys()

dict_keys(['k1', 'k2'])

In [180]:
d.values()

dict_values([1, 2])

In [181]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [182]:
list = [1,2,3,4]

In [184]:
list.pop()

4

In [185]:
list

[1, 2, 3]

In [186]:
'x' in list

False

In [187]:
x = [(1,2),(3,4),(5,6)]

In [190]:
x[2][1]

6

In [191]:
## Tuple unpacking

In [189]:
for a,b in x:
    print(a)

1
3
5